* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --side-padding: 2%;
    --primary: #7BAE7F;
    --high-priority: #B45253;
    --med-priority: #FCB53B;
    --low-priority: #A8D5BA;
    --background-color: #F7F6F2;
}

body {
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 100vw;
}

/* body > * {
    outline: 1px solid black;
} */

#modal {
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 5%;

}

#modal>form {
    display: flex;
    flex-direction: column;
}

header {
    flex: 0 1 10vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 var(--side-padding);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


header>h1 {
    margin-right: auto;
    margin-left: auto;  
}

header>h1 {
    color: var(--primary);
    font-weight: 800;
}

header>h1::before {
    content: url("./assets/image/check.png");
}

header>button {
    color: white;
    background-color: var(--primary);
    padding: 10px 25px;
    border: 0;
    border-radius: 10%;
}

button:hover {
    transform: scale(1.1);
    cursor: pointer;
}


/* project list */
.project-container {
    display: flex;
    flex: 0 1 10vh;
    /* border-bottom: var(--primary) 2px solid; */
    padding: 1% var(--side-padding);
    justify-content: flex-start;
    align-items: center;
    gap: 1%;
    overflow-x: auto;  
    overflow-y: hidden; 
}

.project-container>button {
    color: white;
    background-color: var(--primary);
    padding: 10px 25px;
    border: 0;
    border-radius: 10px;
}

.todo-list-container {
    flex: 1 1 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    padding: 1% var(--side-padding);
    gap:1%;
    align-items: start;
}
.todo-item-container {
    background-color: var(--background-color);
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: self-start;
    border-radius: 10px;
}
.todo-item-container button {
    border: 0;
    background-color: transparent;
}
.todo-item-container > div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.todo-item-container .todo-title {
    font-size: 2rem;
}
.todo-item-container .todo-description {
    font-size: 1.2rem;
}
.todo-item-container .todo-checkbox {
  width: 30px;
  height: 30px;
  accent-color: var(--primary);
  cursor: pointer;
  border-radius: 50%;
}